<p> Bonjour Olivia, </p>
<p> Une demande d'informations vient de vous être envoyée : </p>

<p> Prénom : <%= @first_name %> </p>
<p> Nom : <%= @last_name %> </p>
<p> Email : <%= @email %> </p>

<p> Contenu du message : <%= @message %> </p>

