<p> Bonjour <%= @user.first_name.capitalize %>, </p>

<p> Bienvenue sur La réserve !
<p> Votre compte a bien été crée avec l'identifiant suivant : <strong> <%= @user.email %> </strong>

<p> Nous sommes à votre disposition pour vous accompagner dans la configuration de votre interface.


<p> A très vite sur <%= link_to "La réserve", www.lareserve.io %> ! </p>
