<% if comments.present? %>
  <!-- <p>Pas de notifications</p> -->
  <% comments.each do |comment| %>
    <div class="row wordwrap">
      - <%= comment.content.capitalize %>
      <%= link_to restaurant_comment_path(@restaurant, comment),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
          x
        <% end %>
    </div>
    </br>
  <% end %>
<% end %>
