#customers {
  li {
    border-bottom: 1px solid #eeeeee;
    color: $dark-grey;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  i {
    margin-right: 10px;
  }
}

#list-customers {
  height: 500px;
  overflow: scroll;
}

.info-customer{
  h4{
    text-transform: uppercase;
    color: #7A1B2C;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -20px;
  }
  p{
    margin-top: 10px;
  }
}

// #customer_show {
//   height: 500px;
//   overflow: scroll;
// }
