#focus-day .fa-arrow-right{
  float: right;
  font-size: 16px;
  Font-weight: 300;
  padding-top: 8px;
  margin-right: 50px;
}

#focus-day .fa-arrow-left{
  float: left;
  font-size: 16px;
  Font-weight: 300;
  padding-top: 8px;
  margin-left: 50px;
}
