<% if @restaurant && current_user.restaurants.present? && @restaurant.persisted? %>
  <div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content panel panel-default">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="panel-title" id="myModalLabel">Prendre une réservation</h3>
        </div>
        <div class="modal-body panel-body">
          <%= render 'bookings/form', customer: customer %>
        </div>
      </div>
    </div>
  </div>
<% end %>

