<div class="margin-top">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Modifier la réservation</h3>
          </div>
          <%= render 'bookings/form' %>
        </div>
      </div>
    </div>
  </div>

</div>
