
<div class="margin-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="container text-center" id="chevrons">
          <%= link_to :date => previous_month(@date) do  %>
            <i class="fa fa-arrow-left"></i>
          <% end %>
          <%= link_to :date => next_month(@date) do  %>
            <i class="fa fa-arrow-right"></i>
          <% end %>
        </div>
        <%= calendar(:year => @date.year, :month => @date.month, :first_day_of_week => 1) do |d|
              [d.mday, {:class => "specialDay"}]
        end %>
      </div>
    </div>
  </div>

  <%= render "bookings/day_view", date: @date, restaurant: @restaurant, bookings: @bookings, diner_booking_total: @diner_booking_total, lunch_booking_total: @lunch_booking_total %>

</div>









