<div class="margin-top page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <ul class="nav nav-pills ">
          <li role="presentation" class="active switch-button"><a href="#config-resto" data-toggle="tab">Restaurant</a></li>
          <li role="presentation" class="switch-button"><a href="#config-waiter" data-toggle="tab">Personnel</a></li>
          <li role="presentation" class="switch-button"><a href="#config-spot" data-toggle="tab">Tables</a></li>
        </ul>

        <div class="panel-default">
          <div class="tab-content">
            <%= render 'settings/tabs/restaurant', active: true %>
            <%= render 'settings/tabs/waiters' %>
            <%= render 'settings/tabs/spots' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



