<div class="margin-top">
  <div id="customers">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <div class="bordered-right">
            <div class="margin-bottom">
              <%= link_to new_restaurant_customer_path(@restaurant) do %>
                <p><i class="fa fa-plus"></i> Add a customer</p>
              <% end %>
            </div>

            <div id="list-customers">

              <ul>
                <% @restaurant.customers.each do |customer| %>
                  <li>
                    <%= link_to customer.full_name, restaurant_customer_path(@restaurant, customer), remote: true %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div id="customer_show" class="col-md-8">
        </div>
      </div>
    </div>
  </div>
</div>
