<div class="all-features text-center sm-padded">
  <h1>Vous souhaitez en savoir plus ? Contactez-nous !</h1>
</div>

<div class="bloc bloc-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <form  action="mailto:olivia.brami@gmail.com" method="POST" enctype="multipart/form-data">
          <div class="form-group contact_message">
            <label>Nom</label>
            <input class="form-control">
          </div>
          <div class="form-group contact_message">
            <label>Prénom</label>
            <input class="form-control">
          </div>
          <div class="form-group contact_message">
            <label>Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="contact_message form-group">
            <label>Message</label>
              <textarea class="form-control" rows="5"></textarea>
            </label>
          </div>
          <div>
          <button type="submit" class="btn btn-primary btn-full-width"> Envoyer </button>
          </div>
        </form>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class = "feature_icone contact_message">
          <%= image_tag "dashboard.png", class: " img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
