<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>



<div id="banner-homepage" class="window-height">
  <div containerlass="container" data-sr>
    <div class="slogan">
      <h1>Gérer vos réservations</h1>
      <p>La réserve vous permet de gérer vos réservations en quelques clics seulement</p>
    </div>
  </div>
  <div class="text-center">



  </div>
</div>









<!-- </div>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://www.youtube.com/embed/dDlZL4rfqP4"></iframe>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="../assets/images/tabledressee.jpg" alt="">
        </div>
    </div>
</div> -->





<!-- Push configuration to Heroku
 # View current environment variables
 $ heroku config
 # Add environment variables from `config/application.yml`
 $ figaro heroku:set -e production
 # Check that again!
 $ heroku config -->
