<div>
  <h1> Olikana restaurant </h1>

  <h2> Waiters list </h2>
   <ol>
     <li> David</li>
     <li> Noé </li>
     <li> Esther </li>
   </ol>

<%= link_to 'Add a waiter', new_restaurant_waiter_path(Restaurant.find(1)) %>



