<div>
  <h1> Olikana restaurant </h1>

  <h2> Waiters list </h2>
   <ol>
     <li> David</li>
     <li> Noé </li>
     <li> Esther </li>
   </ol>

<%= link_to 'Add a waiter', new_restaurant_waiter_path(Restaurant.find(1)) %>


</div>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="../assets/images/tabledressee.jpg" alt="">
        </div>
    </div>
</div>
