#nav-container {
  width: 230px;
  top: 70px;
  left: 0;
  bottom: 0;
  overflow: none;
  height: auto;
  position: absolute;
  position: fixed;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: $dark-grey;
    padding-bottom: 30px;
  }
  button {
    width: 100%;
  }
  hr {
    border-color: $gray-lighter;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    color: $dark-grey;
    &:hover {
      color: $burgundy;
    }
  i {
    margin-right: 10px;
  }
  }
}

.page-content {
  margin-left: 230px;
}
