/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.margin-left {
  margin-left: 260px;
}

.padded-left {
  padding-left: 40px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 100px;
}

.padded-right {
  padding-right: 30px;
}

.bordered-right {
  border-right: 1px solid #eeeeee;
}


.card-burgundy {
  background: $burgundy;
  padding: 98px 0px;
  margin-right: 20px;
  margin-top: 90px;
  a {
    color: white;
  }

  &:hover {
    background: darken($burgundy, 10%)
  }
}

.accueil{
  background: #7A1B2C;
  padding: 30px 30px;
  margin-top: 45px;
  width: 220px;
  margin-left: 50px;
  color: white;
  display: bloc
}
