.bloc {
  border-top: 1px solid $gray-lighter;
  a{
    color : white
   }
  &-white {
    background: white;
  }
  &-grey {
    background: $gray-lighter;
  }
}


.big-icon {
  width: 800px;
}


.all-features {
  h1 {
    margin-bottom: 35px;
  }
}
