/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */


.btn-primary {
  &:hover {
    background-color: $burgundy;
    border-color: $burgundy;
  }
  &:focus {
    outline: inherit;
  }
  &:active {
    outline: 0;
    box-shadow: none;
  }
}

.btn-full-width {
  width: 100%

}

.switch-button{
  width: 281px;
  background-color: $body-bg;
  color: white !important;
  border-radius: 5px;
  margin-top: 15px;
  a {
    margin-top: 15px;
    &:hover{
    color: white;
    background-color: $burgundy!important;
    margin-top: 15px;
    }
  }


  &.active {
    a {
      margin-top: 15px;
      background-color: $burgundy !important;
      color: white!important;
      text-decoration: none!important;
    }
  }

}

.index-icons{
  i{
  color:#7A1B2C;
  }
}

