/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */


.btn-primary {
  &:hover {
    background-color: $burgundy;
    border-color: $burgundy;
  }
  &:focus {
    outline: inherit;
  }
  &:active {
    outline: 0;
    box-shadow: none;
  }
}

.btn-full-width {
  width: 100%

}


.index-icons{
  i{
  color:#7A1B2C;
  }
}

