th {
  text-align: center;
}

tbody {
  border-bottom: 1px solid #ddd;
}

table {
  width: 100%;
}

.popover-content {
  color: $dark-grey;
}

.cal-top {
  margin-top: 70px;
}

.margin-left {
  margin-left: 20px;
}

.comments-count {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50%;
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 2px 0px;

  background: $dark-grey;
  color: white;
  text-align: center;

  font-size: 8px;
  // list-style: inherit;
  // padding-left: 20px;
}

.red{
  background: $burgundy;
  color:white;
}

.red .dejdin {
  color:white;
}

.red #couverts {
  color:white;
}

.orange{
  background:#F78764;
  color:white;
}

.orange .dejdin {
  color:white;
}

.orange #couverts {
  color:white;
}


.dejdin{
  padding: 0px 3px;
  color: $dark-grey;
  font-weight: 400;

  // p {
  //   font-size: 10px;
  //   margin: 0px;
  //   margin-bottom: 5px !important;
  // }

  // border: 1px dotted black;
  // p{
  //   padding: 1px;
  //   font-size: 10px;
  //   background: $burgundy;
  //   color: white;
  // }
}

.dejdinend {
  border-right: 1px solid #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
  p {
      font-size: 10px;
      color: $dark-grey;
      margin-bottom: 5px;
      font-weight: 400;
  }
}

.specialDay.today {
  background: $dark-grey;
  color: white;
  border:none;
}


.today .comments-count {
  background: white;
  color: $dark-grey;
}

#couverts{
  font-size: 14px;
  color: $burgundy;
  font-weight: 700;
}

.font-bold {

    font-size: 14px;

    // width:25px;
    // height:25px;
    // border-radius:100%;
    // background-color:$gray-light;
    // color:white;
    // text-align:center;
    // font-size:14px;
    // overflow:hidden;
    // padding: 2px;
}

// .circle {
//   width:100%;
//   height:100%;
//   border-radius:50%;
//   font-size:12px;
//   color:white;
//   line-height:20px;
//   text-align:center;
//   vertical-align: middle;
//   background:$dark-grey;

// }

// #file_attente{

//   border-radius: 50%;

//   width: 20px;
//   height: 20px;
//   padding: 5px;

//   background: $dark-grey;
//   color: white;
//   text-align: center;

//   font-size: 12px;
// //  padding-bottom: 5px;
// }

.calendar {
  // margin: auto;
  color: white;
  text-align: center;
  background-color: white;
  // min-width: 600px;
  // width: 70%;
  tbody {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
}


.monthName {
  font-weight: 400;
  padding: 15px 0px;
  text-transform: uppercase;
}

.monthName th {
  text-align: center;
  // padding-top: 1em;
  // padding-bottom: 0.7em;
  color: black;
}

tr .monthName {
  background-color: $burgundy;
  color: white;
}

abbr[title] {
  cursor: default;
  border: none;
}

.dayName th {
  font-size: 0.9em;
  padding-top: 0.9em;
  padding-bottom: 0.8em;
  background-color: rgb(98, 21, 34);
  color: white;
  // border-bottom: 1px solid white;
  text-transform: uppercase;
  font-weight: 400;
}

.specialDay {
  font-size: 13px;
  background-color: #D8D8D8;
  color: $dark-grey;
  border: none;
  padding-top: 2px !important;
  font-weight: 700;
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  // p {
  //   color: $dark-grey;
  // }
  a{
    padding: 0px;
    &:hover {
      padding: 0px;
    }
  }
  &:hover {
    background:$dark-grey;
    color: white;

    .comments-count {
      background: white;
      color: $dark-grey;
    }
  }
}

.specialDay .row {
  background: white;
}

.specialDay #dejdin {
  color: $dark-grey;
}

.otherMonth {
  padding: 0px;
  background: $body-bg;
  color: transparent;
  border-right: 1px solid #eeeeee;

  hr {
    border:none;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  a{
    padding:0px;
  }
}

.otherMonth .dejdin {
  color: transparent;
  padding: 0px;
}

.otherMonth .circle {
  background-color: transparent;
  padding: 0px;
}

.otherMonth .dejdinend {
  border: none;
  padding: 0px;
}

.otherMonth #couverts {
  color: transparent;
}


.otherMonth #file_attente {
  color: transparent;

}

.otherMonth, .day, .specialDay {
  padding: 0px;
  // border-right: 1px solid #111111;
}

// .day, .specialDay {
//   border-bottom: 1px solid #111111;
//   background-color: #333333;
// }
// .specialDay {
//   background-color: #a8a8a8;
//   color: black;
// }
// .specialDay a, .specialDay a:visited, .specialDay a:hover {
  // color: black;
  // text-decoration: none;
//   padding: 0em;
// }
// .specialDay a:hover {
//   color: white;
//   background-color: black;
// }
// .weekendDay {
//   background-color: #787888;
// }
// .today {
//   background-color: white;
//   color: black;
// }
// .weekNumber {
//   background-color: #222;
// }

#chevrons {
  a{
    // margin-right: 185px;
    font-size: 14px;
    font-weight:300;
    color: white;
    position: relative;
    top: 36px;

    &:first-of-type {
      float: left;
      left: 20px;
    }

    &:last-of-type {
      float: right;
      right: 25px;
    }

  }
}
