/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */

 .new_restaurant {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .edit_restaurant {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .new_user {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
    &:active {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .new_booking {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  select {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .new_customer {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  select {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  textarea {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }

 }


.panel-title {
  font-weight: 700;
}

.padding-left-5 {
  padding-left:5px;
}

.padding-right-5 {
  padding-right:5px;
}

.margin-left-10 {
  margin-left: 10px;
}


.margin-top-30 {
  margin-top: 30px;
}


#row-1{
  label {
    margin-right: 10px;
  }
}

.panel-body {
  hr {
    border: none;
  }
}
