/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */

.trans-back{
  background-color: #F9F9F9;
}

button {
    outline: 0 !important;
    box-shadow: none;

    &:focus {
      outline: 0 !important;
      box-shadow: none;
    }
}

a {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

span {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
.form-control {
  &:focus {
    outline: 0 !important;
    border-color: $dark-grey;
    box-shadow: none;
  }
}

 .new_restaurant {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .edit_restaurant {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .new_user {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
    &:active {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .new_booking {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  select {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .edit_booking {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  select {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .new_customer {
  input {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  select {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
  textarea {
    &:focus {
      outline: 0;
      border-color: $dark-grey;
      box-shadow: none;
    }
  }
 }

 .edit_customer {
  input {
    &:focus {
       outline: 0;
       border-color: $dark-grey;
       box-shadow: none;
     }
   }
   select {
     &:focus {
       outline: 0;
       border-color: $dark-grey;
       box-shadow: none;
     }
   }
   textarea {
     &:focus {
       outline: 0;
       border-color: $dark-grey;
       box-shadow: none;
     }
   }
}


label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
}


.panel-title {
  font-weight: 700;
}

.padding-left-5 {
  padding-left:5px;
}

.padding-right-5 {
  padding-right:5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}


.margin-top-30 {
  margin-top: 30px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

#row-1{
  label {
    margin-right: 10px;
  }
}

.panel-default > .panel-heading {
  background-color: $body-bg;
}

.panel-heading {
  background-color: #F9F9F9;
  h3 {
    font-size:16px;
    text-align: center;
  }
}

.panel-body {
  hr {
    border: none;
  }
}

.search-stats {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: whitesmoke
}

.search-results{
  margin-top: 30px;

  h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  }

  h4{
    text-transform: uppercase;
    color: #7A1B2C;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
