<!-- <div class= "col-sm-12">
  <div class="day">
    déjeuner
  </div>
</div> -->
<div class="row">
<div class= "col-xs-6 dejdin">
  <p class= "dejdin">Dej</p>
  <p class= "dejdin">47/50</p>

</div>
<div class= "col-xs-6 dejdin">
  <p class= "dejdin">Din</p>
  <p class= "dejdin">50/50</p>
</div>
</div>
